<html>

<head>
    <title>Carrinho</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/intlTelInput.css') }}">
</head>

<body>

    <div id="Navbar">
        <div id="LogoPic">
            <a href="{{ url_for('index') }}">
                <img id="LogoPic2" src="{{ url_for('static',filename='images/logo.png') }}" alt="">
            </a>
        </div>
        <div id="DivBusca">
            <img id="Lupa" src="{{ url_for('static',filename='images/lupa.png') }}" alt="">
            <form action="">
                <input id="InputBusca" type="text" placeholder="O que você deseja?">
            </form>
        </div>
        <div>
            <div id="Login"><a id="LoginLetra" href="localhost:5000/login"> Faça seu login</a></div>
        </div>
        <div id="DivCarrinho">
            <a href="{{ url_for('carrinho') }}">
                <img id="CarrinhoLogo" src="{{ url_for('static',filename='images/carrinho.png') }}" alt="">
            </a>
        </div>

    </div>

    <div id="Categories">
        <div id="DivCategorias">
            <p id="TituloCarrinho">Carrinho</p>
        </div>
    </div>

    <div id="ContentCarrinho">
        <div id="Carrinho"></div>
        <div id="Subtotal"></div>
        <div class="DivDados">
            <div id="LoginCarrinho">
                <p class="tituloDados">Faça seu Login</p>
                <label class="label1" for="email">Email:
                    <input type="email" class="dadosLogin">
                </label>
                <label class="label1" for="password">Senha:
                    <input type="password" class="dadosLogin">
                </label>
                <input type="button" class="Blogin" value="Login">
            </div>
            <div id="LoginCarrinho">
                <p class="tituloDados">Não possui cadastro?</p>
                <label class="label1" for="email">Email:
                    <input type="email" class="dadosLogin">
                </label>
                <label class="label1" for="password">Senha:
                    <input type="password" class="dadosLogin">
                </label>
                <label class="label1" for="password">Confirme sua senha:
                    <input type="password" class="dadosLogin">
                </label>
                <input type="button" class="Blogin" value="Cadastrar">
            </div>
        </div>
        <div class="DivDados">
            <div id="Endereco">
                <p class="tituloDados">Dados da Entrega</p>
                <form action="" id="informacoes_pessoais">
                    <div class="linha">
                        <input type="text" id="Rua" placeholder="Endereco">
                        <input type="text" name="" id="Numero" placeholder="Numero">
                     </div>
                    <div class="linha">
                        <input type="text" id="Bairro" placeholder="Bairro">
                        <input type="text" id="Complemento" placeholder="Complemento">
                    </div>
                    <div class="linha">
                        <input type="text" name="" id="Cep" placeholder="CEP">
                        <select id="estado"></select>
                        <input type="tel" id="phone">
                        <script
                            src="{{ url_for('static',filename='script/intlTelInput.js') }}"></script>
                        <script>
                            var input = document.querySelector("#phone");
                            window.intlTelInput(input, {
                                initialCountry: "auto",
                                geoIpLookup: function (callback) {
                                    $.get('https://ipinfo.io', function () { }, "jsonp").always(function (resp) {
                                        var countryCode = (resp && resp.country) ? resp.country : "br";
                                        callback(countryCode);
                                    });
                                },
                                utilsScript: "{{ url_for('static',filename='script/utils.js') }}"
                            });
                        </script>
                    </div>
                   
                    <input onclick="informacoesPessoais()" type="submit" class="Blogin" id="BFinalizar" value="Finalizar Compra">
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static',filename='script/scriptCarrinho.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.min.js"></script>
</body>

</html>