<html>

<head>
    <title>Carrinho</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/intlTelInput.css') }}">
</head>

<body>

    <div id="Navbar">
        <div id="LogoPic">
            <a href="{{ url_for('index') }}">
                <img id="LogoPic2" src="{{ url_for('static',filename='images/logo.png') }}" alt="">
            </a>
        </div>
        <div id="DivBusca">
            <img id="Lupa" src="{{ url_for('static',filename='images/lupa.png') }}" alt="">
            <form action="">
                <input id="InputBusca" type="text" placeholder="O que você deseja?">
            </form>
        </div>
        <div>
            <div id="Login"><a id="LoginLetra" href="localhost:5000/login"> Faça seu login</a></div>
        </div>
        <div id="DivCarrinho">
            <a href="{{ url_for('carrinho') }}">
                <img id="CarrinhoLogo" src="{{ url_for('static',filename='images/carrinho.png') }}" alt="">
            </a>
        </div>

    </div>

    <div id="Categories">
        <div id="DivCategorias">
            <p id="TituloCarrinho">Carrinho</p>
        </div>
    </div>

    <div id="ContentCarrinho">
        <div id="Carrinho"></div>
        <div id="Subtotal"></div>
        <a href="{{ url_for('confirmacao') }}"><button class="Blogin" id="BFinalizar">  Finalizar Compra</button></a>
        
    </div>
    <script type="text/javascript" src="{{ url_for('static',filename='script/scriptCarrinho.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.js%22%3E"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.min.js%22%3E"></script>
</body>

</html>