<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    </head>
    <body>
        <nav id="Navbar">
            <div id="Carrinho">
            
            </div>
            <a href="http://localhost:5000/login">
            <button id="Login" onclick="">
                login
            </button>
            </a>
        </nav>
        <div id=Container>
            <form>
                <input type="text" placeholder="busca">
            </form>
            <div id="Produtos">
                
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static',filename='script/script.js') }}"></script>
    </body>
</html>