<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
        <title>Shibateras: Home</title>
    </head>
    <body>
        <div id="Navbar">
            <div id="LogoPic">
                <a href="{{ url_for('index') }}" onclick="enviaItens()">
                    <img id="LogoPic2" src="{{ url_for('static',filename='images/logo.png') }}" alt="">
                </a>
            </div>
            <div id="DivBusca">
                <img id="Lupa" src="{{ url_for('static',filename='images/lupa.png') }}" alt="">
                <form action="">
                    <input id="InputBusca" type="text" placeholder="O que você deseja?">
                </form>
            </div>
            <div>
                <div id="Login"><a id="LoginLetra" href="localhost:5000/login" onclick="enviaItens()"> Faça seu login</a></div>
            </div>
            <div id="DivCarrinho">
                <a href="{{ url_for('carrinho') }}" onclick="enviaItens()">
                    <img id="CarrinhoLogo" src="{{ url_for('static',filename='images/carrinho.png') }}" alt="">
                </a>
            </div>
        </div>
        
        <div id="Categories">
            <div id="DivCategorias">
                <button class="botoes-categorias" onclick="criaProdutos(Produtos)">Todas as Categorias</button>
                <button class="botoes-categorias" onclick="recarregaProdutos('Baterias')">Baterias</button>
                <button class="botoes-categorias" onclick="recarregaProdutos('Pratos')">Pratos</button>
                <button class="botoes-categorias" onclick="recarregaProdutos('Baquetas')">Baquetas</button>
                <button class="botoes-categorias" onclick="recarregaProdutos('Ferragens')">Ferragens</button>
                <button class="botoes-categorias" onclick="recarregaProdutos('Peles')">Peles</button>
                <button class="botoes-categorias" onclick="recarregaProdutos('Acessorios')">Acessórios</button>
            </div>
        </div>
        <div id="Content"></div>
        <script type="text/javascript" src="{{ url_for('static',filename='script/scriptHome.js') }}"></script>
    </body>
</html>