*{
    margin: 0px 0px 0px 0px;
}

html{
    height: 100%;
    width: 100%;
}

body{
    display: grid;
    grid-template-columns: 15vw auto;
    grid-template-rows: 23vh auto;
    height: 100%;
    width: 100%;
}

#Navbar{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #999;
    display: flex;
    align-items: center;
}

#Sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#Content{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #AAA;
}

#LogoPic{
    height: 9vw;
    width: 9vw;
    margin-left: 3vw;
}

#DivBusca{
    display: flex;
    border-radius: 50px;
    width: 50%;
    height: 35%;
    background-color: white;
    justify-content: left;
    align-items: center;
    margin-left: 12vw;
}

#Lupa{
    height: 4vh;
    width: 4vh;
    margin: 0 7px;
}

#InputBusca{
    height: 80%;
    width: 36vw;
    border: none;
    font-size: 100%;
    align-content: center;
    position: relative;
    display: inline-block;
}

#InputBusca:focus{
    outline-width: 0px;
}

#Login{
    height: 35%;
    width: 10vw;
    outline-width: 0px;
    background-color: purple;
    color: white;
    border: none;
}
#Login:hover{
    box-shadow: 1px 2px 4px rgb(0, 0, 0, .5);
}


/* Produtos*/
#Produtos
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vh;
}

#Container
{
    margin-top: 3vh;
}

.produto
{
    height: 26vw;
    width: 20vw;
    background-color: chartreuse;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
}

.produto img{
    height: 15vw;
    width: 20vw;
}

.produto p, button{
    margin-top: 2vh;
    margin-left: 1vw;
}